html,
body {
    font-family: 'arial';
    color: #363636;
}

header {
    display: block;
    width: 290px;
    height: 100%;
    position: fixed;
    float: left;
    margin-top: 0px;
    top: 0px;
    background: #ecf5fa;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    border-radius: 0px;
}

.fancybox-close {
    top: 0;
    right: 0;
}

.right-panel {
    z-index: 1;
    position: relative;
    padding-left: 322px;
}

.container {
    position: relative;
}

.container {
    width: 1200px !important;
    max-width: none !important;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin: 14px auto;
    margin-right: 26px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e2e6e7;
}


header.sticky-header.spx-hd {
    z-index: 999;
    position: fixed;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

header li a {
    color: #2152b0;
    font-size: 11px !important;
    padding-left: 38px;
    padding-bottom: 14px;
    display: block;
}

header li a:hover {
    color: #2152b0;
}

header li a:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: url(../img/ulb.png) 0 0 no-repeat;
    margin-left: -10px;
    margin-top: 5px;
}

nav.top-menu {
    margin-top: 30px;
    display: block;
}

.button {
    background: #c62b2b;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding: 12px 18px;
    width: 230px;
}

.button:hover,
.button:focus {
    opacity: 0.8;
    text-decoration: none;
    color: #fff;
}

.phone {
    font-size: 18px;
    font-weight: bold;
    margin-left: 63px;
    margin-top: 27px;
}

.navs-area {
    margin-bottom: -5px;
}

.phone:before {
    content: '';
    position: absolute;
    background: url(../img/phone.png) 0 0 no-repeat;
    width: 20px;
    height: 40px;
    margin-left: -19px;
    margin-top: 5px;
}

.mail-and {
    color: #363636;
    margin-left: 73px;
    font-size: 16px;
    text-decoration: underline;
}

.mail-and:hover,
.mail-and:focus {
    color: #363636;
    text-decoration: none;
}

.mail-and:before {
    content: '';
    position: absolute;
    background: url(../img/mail.png) 0 0 no-repeat;
    width: 24px;
    height: 40px;
    margin-left: -30px;
    margin-top: 3px;
}

.main {
    color: #a6a6a6;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.main:hover,
.main:focus {
    color: #a6a6a6;
}


a.main {
    margin-left: 40px;
    margin-top: -5px;
    display: block;
}



a.main:before {
    content: '';
    position: absolute;
    background: url(../img/snb.png) 0 0 no-repeat;
    width: 24px;
    height: 40px;
    margin-left: -15px;
    margin-top: 5px;
}


.right-panel h1 {
    font-size: 32px;
    text-transform: uppercase;
    line-height: 38px;
    font-weight: bold;
    margin-bottom: 27px;
    margin-top: 28px;
}

.right-panel h1 span {
    color: #00a3e8;
    line-height: 44px;
}

.mxt-blk {
    padding-left: 15px;
}

.mxt-blk p {
    line-height: 27px;
}

.mxt-blk p span {
    text-decoration: underline;
}

.mxt-blk p span:hover {
    text-decoration: none;
}


.ui-tooltip,
.arrow:after {
    background: #323b42;
    border: 0px solid white;
    opacity: 1;
}

.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 0px;
    font-size: 12px;
    font-style: italic;
    text-transform: none;
    box-shadow: 0 0 1px black;
    opacity: 1;
    border: 0;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
    opacity: 1;
}

.arrow.top {
    top: -16px;
    bottom: auto;
    opacity: 1;
}

.arrow.left {
    left: 20%;
    opacity: 1;
}

.bnm {
    margin-top: 25px;
    margin-bottom: 30px;
}

.price {
    font-size: 14px;
    float: left;
    display: block;
}

.price span {
    float: left;
    display: block;
}


.price-p strong {
    font-size: 28px;
}

span.price-p {
    float: left;
    display: block;
    margin-top: -8px;
    border: 1px solid #c2c2c2;
    padding: 0 6px;
    border-radius: 12px;
    margin-left: 15px;
}

.rbl {
    margin-left: 5px;
    margin-top: -1px;
    vertical-align: super;
}

.mxt-blk .button {
    width: auto;
    display: inline-block;
    margin-left: 29px;
    margin-top: -8px;
}

.s2 {
    margin-top: 70px;
}

h2 {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 27px;
}

section#a1 h2 {
    margin-bottom: 0;
}

h3 {
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mtl {
    float: left;
    width: 55%;
}

.mtr {
    float: right;
    width: 45%;
}

.mtl {
    padding-right: 33px;
    margin-top: 35px;
}


.mtr img {
    margin-top: 57px;
    margin-left: 12px;
}

.blue {
    background: #f5fafc;
    padding: 20px;
    margin-left: -37px;
    margin-right: -30px;
    padding-right: 43px;
}

section {
    overflow: hidden;
}

.lml {
    width: 69%;
    float: left;
    padding-left: 9px;
}

.lm2 {
    width: 31%;
    clear: left;
    clear: right;
    float: right;
}

.lms {
    width: 37%;
    float: left;
}

.lms2 {
    width: 61%;
    float: right;
    padding-left: 12px;
    padding-right: 5px;
}

.lms2 p {
    padding-right: 31px;
}


/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}


.slick-prev {
    left: 15px;
    width: 31px;
    height: 46px;
    background: url(../img/arl.png) 0 0 no-repeat;
    z-index: 999;
}


.slick-next {
    right: -25px;
    width: 31px;
    height: 46px;
    background: url(../img/arr.png) 0 0 no-repeat;
    z-index: 999;
}


.sps {
    margin-top: 10px;
}

.form-nr {
    height: 24px;
    margin-bottom: 20px;
}

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-slide {
    outline: none;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.slick-slide img {
    margin: 0 auto;
    display: block;
}

.slick-slide img {
    margin: 0 auto;
    display: block;
    border: 20px solid #00a3e8;
}


.slick-dots li button:before {
    font-family: 'slick';
    font-size: 41px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #00a3e8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #00a3e8;
}

.lms .slick-arrow {
    display: none !important;
}

section.s5.blue {
    padding-top: 28px;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 40px;
}

.lms2 img {
    float: right;
}

.lms2 img {
    float: right;
    clear: both;
    display: block;
    margin-bottom: 15px;
}

.lms2 h3 {
    clear: both;
}

.s6 {
    margin-top: 70px;
}

section.s6 h2 {
    padding-left: 0px;
}

section.s6 .nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #00a3e8;
}

section.s6 .nav>li>a {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}


section.s6 .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    height: 51px;
}

a.pbh {
    padding-top: 17px !important;
}

.cl1 {
    background: #f5fafc;
    padding: 20px;
    padding-left: 22px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #F5FAFC;
}

section.s6 .nav>li>a span {
    border-bottom: 1px dotted #00a3e8 !important;
}


.cl1 h3 {
    padding-left: 20px;
}

table {
    width: 580px;
}

table td {
    font-weight: bold;
    border: 1px solid #e2e6e7;
    padding: 7px;
    font-size: 12px;
}

tbody td {
    font-weight: normal;
    vertical-align: top;
}

.ntv {
    width: 580px;
    margin-top: 26px;
    font-size: 12px;
    margin-bottom: 21px;
}

.ex-prezent {
    color: #00a3e8;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 25px;
    display: block;
    margin-left: 23px;
}


.ex-prezent:hover,
.ex-prezent:focus {
    color: #00a3e8;
    text-transform: uppercase;
    text-decoration: none;
}

.ex-prezent:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 23px;
    background: url(../img/bf.png) 0 0 no-repeat;
    margin-left: -22px;
    margin-top: 0px;
}

.tts {
    width: 100%;
    float: left;
    padding: 10px;
    display: block;
    color: #fff;
    width: 25%;
}

.bl-tv {
    font-weight: bold;
}

.bl-tv {
    width: 100%;
    color: #fff;
    text-align: center;
}

.tv1 .bl-tv {
    background: #c62b2b;
    font-size: 16px;
    padding: 23px 5px;
}

.tv1 .tbvs {
    background: #c62b2b;
}



.tv2 .bl-tv {
    background: #edcf02;
    font-size: 16px;
    padding: 23px 5px;
}

.tv2 .tbvs {
    background: #edcf02;
}


.tv3 .bl-tv {
    background: #24c124;
    font-size: 16px;
    padding: 23px 5px;
}

.tv3 .tbvs {
    background: #24c124;
}


.tv4 .bl-tv {
    background: #00a3e8;
    font-size: 16px;
    padding: 23px 5px;
}

.tv4 .tbvs {
    background: #00a3e8;
}



.grs {
    text-decoration: line-through;
    color: #afc1c7 !important;
}


.tbl-s p {
    color: #363636;
    text-align: center;
}

.tbl-s {
    width: 100%;
    padding: 20px 0px;
    background: #ecf5fa;
    padding-bottom: 12px;
}


.tbvs {
    font-size: 16px;
    padding: 23px 5px;
}

.tbvs .sb p {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.tbvs .sb strong {
    text-align: center;
    display: block;
    color: #fff;
    font-weight: normal;
    margin-top: -10px;
}

.tbvs .sb span {
    font-size: 18px;
}


.nht {
    margin-left: 20px;
    margin-top: 20px;
}

.tarifs-area.row .button {
    display: table;
    margin: 50px auto;
}


#toTop {
    width: 93px;
    height: 82px;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    z-index: 999;
    background: url(../img/up.png) 0 0 no-repeat;
    right: 10px;
    background-size: contain;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 11px;
}

#toTop:hover {
    opacity: 0.8;
}



.top-menu a {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    text-decoration: none !important;
}

.top-menu a:hover,
.top-menu a.active {
    text-decoration: underline !important;
}

.modal-dialog .modal-content {
    background: #afd0d7 !important;
}

button.close {
    position: absolute;
    top: 6px;
    right: 8px;
}

.modal-dialog {
    width: 400px;
}

.modal-dialog input {
    width: 100%;
}

.btn {
    background: #00a3e8;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 11px;
    border-radius: 9px;
    margin-top: 20px;
}

.modal-dialog input {
    width: 100%;
    border: 0;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #c1c1c1;
}


.modal-dialog label {
    font-weight: normal;
}

.modal-body h3 {
    margin-top: 5px;
}

button,
:focus {
    outline: none !important;
}

button.close {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 0px;
    width: 20px;
    height: 20px;
    font-weight: normal;
    background-image: url('../img/sw.png');
}
}

.ck1 {
    width: 265px;
    float: left;
    margin-right: 23px;
}

.ck2 {
    width: 365px;
    float: left;
    margin-right: 23px;
}

.ck3 {
    width: 170px;
    float: left;
}


.ck2 h3 {
    margin-top: 0;
}

.clbs {
    margin-top: 40px;
}

.ck3 p {
    color: #00a3e8;
    font-weight: bold;
    font-size: 28px;
    text-align: right;
}

.ck3 p span {
    font-size: 14px;
}

.clbs a {
    background: #00a3e8;
    width: 100%;
}

.ck3 {
    margin-top: 54px;
}

.ck2 p {
    margin: 0 0 1px;
    font-size: 12px;
}

.clbt {
    margin-top: 30px;
    margin-left: 0;
    background: none;
    color: #00A3E8 !important;
    border: 1px solid #00A3E8;
    width: auto;
    display: inline-block;
}

.pptn {
    font-size: 14px;
    padding-left: 0px;
}

.nbm {
    background: #ecf5fa;
    width: 33%;
    float: left;
}

.nbm img {
    display: block;
    margin: 0 auto;
}

.nbm {
    background: #ecf5fa;
    width: 263px;
    float: left;
    margin: 14px;
}

.nbm {
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.nbm p {
    height: 100px;
    margin-top: 2px;
}



.trt-bf {
    border-radius: 50px;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    background: #C62B2B;
    color: #fff;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    height: 30px;
    display: block;
    position: absolute;
    font-size: 12px;
    z-index: 1;
}

.trt-bf2 {
    border-radius: 50px;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.15);
    background: #C62B2B;
    color: #fff;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    height: 30px;
    display: block;
    position: absolute;
    font-size: 12px;
    right: 98px;
    z-index: 0;
}

.nbm {
    position: relative;
}

span.trt-bf {
    right: 79px;
    top: 25px;
}


button.close {
    position: absolute;
    top: -24px;
    right: -30px;
    font-size: 0px;
    width: 34px;
    height: 33px;
    font-weight: normal;
    background-image: url('../img/sw.png');
    opacity: 1;
}

button.close {
    opacity: 0.9 !important;
}

.modal-backdrop.in {
    opacity: .7 !important;
}



#basicModal .modal-dialog {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -190px;
}

.ck1 {
    width: 287px;
    float: left;
}

#sert .modal-dialog {
    width: 650px !important;
}


#sert2 .modal-dialog {
    width: 650px !important;
}

#sert .modal-dialog img {
    width: 100%;
}

#sert2 .modal-dialog img {
    width: 100%;
}

.rls {
    width: 225px;
    float: left;
}

.rls2 {
    width: 404px;
    padding-right: 0;
    padding-top: 37px;
    float: right;
}

.smp {
    font-size: 12px;
}

.rl1 {
    padding-left: 70px;
}

.srs {
    padding-bottom: 0;
}

.rls2 p {
    line-height: 27px;
    padding-bottom: 5px;
}

.rls2 h3 {
    margin-bottom: 10px;
}

.prz-l {
    width: 362px;
    float: left;
    margin-right: 25px;
}

.prz-r {
    width: 460px;
    float: right;
}

.snt {
    margin-top: 50px;
}

.prz-l p {
    margin-top: 0px;
    line-height: 26px;
}

.rls2:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 27px;
    background: url(../img/kv.png) 0 0 no-repeat;
    margin-left: -43px;
    margin-top: 7px;
}

.snt .ex-prezent {
    margin-top: 15px;
}

.im-pre {
    width: 67px;
    margin-right: 30px;
    float: left;
}

.tx-pre {
    width: 262px;
    float: left;
}

.tx-pre h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.pre-area {
    margin-top: 84px;
}

.pre-inner {
    margin-top: 30px;
    clear: both;
    overflow: hidden;
}


.clk-area img {
    margin: 12px;
    width: 44%;
    height: auto;
}

.out-area {
    margin-left: -11px;
    margin-right: -8px;
    margin-top: 23px;
}


.ws50 {
    width: 368px;
    float: left;
}

.ws502 {
    width: 368px;
    float: right;
    margin-right: 30px;
}

.stry a {
    text-transform: none !important;
    font-size: 12px;
}


.stry .ex-prezent:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 23px;
    background: url(../img/bf.png) 0 0 no-repeat;
    margin-left: -24px;
    margin-top: -2px;
}

.fll-sk {
    width: 262px;
    float: left;
    margin: 15px;
}

.sklads-area {
    margin-top: 30px;
}

.clbt:after {
    width: 710px;
    height: 1px;
    margin-left: 20px;
    content: '';
    position: absolute;
    background: #ecf5fa;
    margin-top: 7px;
}

.right-panel hr {
    border-color: #E7F0F5;
}

.flse {
    width: 200px;
    float: left;
}

.flse2 {
    width: 500px;
    float: left;
}

.flse2 {
    margin-left: 75px;
}

.nx-area img {
    margin: 0 auto;
    display: block;
    border: 20px solid #00a3e8;
    width: 200px;
    margin-left: 69px;
}

.slick-next:hover,
.slick-prev:hover {
    opacity: 0.6;
}


.mx-n {
    background: #ecf5fa;
    width: 114px;
    float: left;
    margin: 16px;
    padding-top: 12px;
}

.mx-n img {
    display: block;
    margin: 0 auto;
}


.mx-n p {
    font-size: 12px;
    text-align: center;
    padding: 10px;
    height: 110px;
    overflow: hidden;
}

.mx-n:after {
    content: '';
    position: absolute;
    background: url(../img/arw.png) 0 0 no-repeat;
    width: 20px;
    height: 15px;
    margin-left: 120px;
    margin-top: -101px;
}

.mx-n:last-child:after {
    display: none;
}

.label-area {
    width: 193px;
    float: left;
    margin-right: 30px;
    padding-left: 15px;
}

.imp-area {
    width: 459px;
    float: left;
}

.frm-st {
    height: 24px;
}

.frm-st input {
    width: 100%;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding-left: 10px;
    margin-top: -4px;
}

.frm-st label {
    margin-top: 2px;
    font-weight: normal;
    line-height: 12px;
}

.jq-selectbox__select {
    width: 100%;
    height: 25px;
    padding: 0 19px 0 10px;
    border: 1px solid #BFBFBF;
    background: #fff;
    font: 14px/32px "Lato", sans-serif;
    color: #191919;
    text-shadow: 1px 1px #FFF;
    line-height: 23px;
    border-radius: 3px;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 10px;
    right: 9px;
    width: 0;
    height: 0;
    border-top: 6px solid #191919;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}


.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: -1px 0 0;
    padding: 0;
    border: 1px solid #eee !important;
    border-top: 1px solid #fff;
    background: #FFF;
    font: 14px/18px Arial, sans-serif;
    border-radius: 4px !important;
}

.nv-l {
    width: 47%;
    float: left;
}

.nv-r {
    width: 47%;
    float: right;
}

.form-nr {
    clear: both;
}

.wty {
    width: 114px;
}

.lmss {
    margin-left: 10px;
}

.input-radio .jq-radio {
    float: left;
}

.jq-radio {
    top: -1px;
    vertical-align: middle;
    width: 42px;
    height: 22px;
    margin: 0 -1px 0 0;
    border: 1px solid #bfbfbf;
    border-radius: 0;
    background: #fff;
    cursor: pointer;
}

.jq-radio.checked .jq-radio__div {
    width: 40px;
    height: 20px;
    margin: 0px 0 0 0px;
    border-radius: 0;
    background: #00a3e8;
}

.rad1 .jq-radio:before {
    content: '1';
    position: absolute;
    margin-left: 15px;
}

.rad2 .jq-radio:before {
    content: '2';
    position: absolute;
    margin-left: 15px;
}

.rad3 .jq-radio:before {
    content: '3';
    position: absolute;
    margin-left: 15px;
}

.rad4 .jq-radio:before {
    content: '4';
    position: absolute;
    margin-left: 15px;
}

.rad5 .jq-radio:before {
    content: '5';
    position: absolute;
    margin-left: 15px;
}

.rad6 .jq-radio:before {
    content: '6';
    position: absolute;
    margin-left: 15px;
}

.jq-radio.checked:before {
    color: #fff !important;
}

.quest {
    background: #c2d1d7;
    border-radius: 50px;
    color: #F5FAFC;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
}

.tool {
    cursor: pointer;
}

.tlb input {
    width: 43px;
    float: left;
    margin-right: 8px;
}

.jq-selectbox li:hover {
    background-color: #00A3E8;
    color: #FFF;
}

.mvts {
    margin-top: -7px;
    margin-left: 1px;
}


.sps {
    margin-top: 10px;
    padding-bottom: 54px;
}


textarea {
    width: 100%;
    height: 117px;
    max-width: 100%;
    margin-bottom: 24px;
    padding: 10px;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
}

button {
    border: 0;
}

.buttons-area-footer .button {
    float: left;
}


.buttons-area-footer span {
    font-size: 12px;
    margin-left: 17px;
    float: right;
    margin-top: 12px;
}

.buttons-area-footer {
    overflow: hidden;
    margin-bottom: 40px;
    width: 468px;
    margin-left: 14px;
}

.fancybox-opened {
    overflow: visible !important;
}

.fancybox-close {
    top: -29px !important;
    right: -26px !important;
}

.nopsr {
    padding-bottom: 0 !important;
    padding-top: 15px !important;
}


.f-modal img {
    width: 100% !important;
}

.f-modal .modal-dialog {
    width: 700px !important;
}

.clk-area img {
    cursor: pointer;
}

.clk-area img:hover {
    opacity: 0.8;
}

.fll-sk img {
    cursor: pointer;
}

.fll-sk img:hover {
    opacity: 0.8;
}


span.nclbs3 {
    float: none;
    display: block;
    margin-bottom: 16px;
    margin-left: 0;
    text-decoration: underline;
    color: #00A3E8;
    cursor: pointer;
}

span.nclbs3:hover {
    text-decoration: none;
}


.cl1 h3 {
    padding-left: 0px;
}

.fllq {
    float: left;
}

.imsn img {
    width: 181px;
    margin-right: 19px;
}

.imsn.row {
    margin-left: 0px;
}

.lml {
    width: 47%;
    float: left;
    padding-left: 9px;
}

.lml img {
    width: 100%;
}


.lm2 {
    width: 49%;
    clear: left;
    clear: right;
    float: right;
}




.pdm,
.nx-area img {
    cursor: pointer;
}


.mxt-blk {
    padding-left: 0px;
}


.mxt-blk.nht {
    padding-right: 10px;
}

.nbfsd {
    margin-left: -381px;
    margin-top: -62px;
}



section.s5.blue .slick-slide img {
    margin: 0 auto;
    display: block;
    border: 20px solid #00a3e8;
    width: 281px;
}



.nclbs {
    display: inline-block !important;
}

.str-full {
    display: none !important;
}



.nclbs2 {
    display: inline-block !important;
}

.str-full2 {
    display: none !important;
}